<div class="container mx-auto my-3">
  <%= image_tag "logo_big.png" %>
  <p>「誰か推せる人いないかな？」</p>
  <p>「推しの良さをもっと広めたい！」</p>
  <p>そんな思いに応えるためのサービスです。</p>
</div>
<%= button_to "推し募集を見てみる", "#", class: "btn my-2" %>
<%= button_to "布教を見てみる", "#", class: "btn my-2" %>
<%= button_to "みんなの推し変遷を見てみる", "#", class: "btn my-2" %>
