<div class="container mx-auto my-3">
  <%= image_tag "logo_big.png" %>
  <p>「誰か推せる人いないかな？」</p>
  <p>「推しの良さをもっと広めたい！」</p>
  <p>そんな思いに応えるためのサービスです。</p>
  <%= link_to "推し募集を見てみる", requests_path, class: "btn my-2" %>
  <%= link_to "布教を見てみる", promotions_path, class: "btn my-2" %>
  <%= link_to "みんなの推し変遷を見てみる", favorites_path, class: "btn my-2" %>
</div>
