<div class="divider"></div>
<div class="rounded-box items-center">
  <%= render partial: 'shared/avatar_name', locals: { user: comment.user } %>
  <p class="text-right text-sm"><%= l(comment.created_at, format: :long) %></p>
  <div class="m-5">
    <%= simple_format comment.body %>
  </div>
</div>
<% if logged_in? && current_user.own?(comment) %>
  <%= button_to comment_path(comment), method: :delete, data: { turbo_confirm: t('defaults.message.delete_confirm') } do %>
    <i class="fa-regular fa-trash-can"></i>
  <% end %>
<% end %>