<footer class="footer p-10 bg-neutral">
  <div>
    <span class="footer-title">Information</span> 
    <%= link_to '利用規約', terms_of_service_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <%= link_to '開発者Twitter', 'https://twitter.com/nyo_nimo', target: :_blank %>
  </div> 
  <div>
    <p>Copyright © 2022 - All right reserved by oshimotomu</p>
  </div> 
</footer>
