<footer class="footer p-10 bg-neutral">
  <div>
    <span class="footer-title">Information</span> 
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
  </div> 
  <div>
    <p>Copyright © 2022 - All right reserved by oshimotomu</p>
  </div> 
</footer>
