<div class="my-4">
  <%= form_with model: [request, answer] do |f| %>
    <%= f.label :body, class: "text-neutral" %>
    <%= f.text_area :body, placeholder: '例：○○さんがおすすめです！', class: "textarea textarea-bordered border-2 h-24 w-full" %>
    <%= f.submit t('defaults.submit'), class: "btn" %>
  <% end %>
</div>