<tr>
  <td><%= link_to promotion.name, promotion_path(promotion), class: "text-lg underline" %></td>
  <td><%= l(promotion.created_at, format: :long) %></td>
  <td><%= promotion.comments.count %></td>
</tr>
