<% breadcrumb :mypage %>
<div class="container mx-auto px-4 my-3">
  <div class="p-6">
    <p class="text-xl">プロフィール</p>
      <div class="lg:flex">
        <div class="place-self-center">
          <%= render partial: 'shared/avatar', locals: { user: current_user } %>
        </div>
        <div class="flex flex-col justify-between py-6 lg:mx-6">
          <p>ユーザー名:<%= current_user.name %></p>
          <p>現在の推し</p>
          <% @now_favorites.each do |favorite| %>
            <%= render partial: 'now_favorite', locals: { favorite: favorite } %>
          <% end %>
          <p>以前の推し</p>
          <% @before_favorites.each do |favorite| %>
            <%= render partial: 'before_favorite', locals: { favorite: favorite } %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="divider"></div> 
  <p class="text-xl">投稿した推し募集一覧</p>
  <div class="divider"></div> 
  <p class="text-xl">回答した推し募集一覧</p>
  <div class="divider"></div> 
  <p class="text-xl">投稿した布教一覧</p>
  <div class="divider"></div> 
  <p class="text-xl">コメントした布教一覧</p>
  <div class="divider"></div> 
  <p class="text-xl">ブックマークした推し募集一覧</p>
  <div class="divider"></div> 
  <p class="text-xl">ブックマークした布教一覧</p>
</div>