<% breadcrumb :mypage %>
<div class="container mx-auto px-4 my-3">
  <article class="prose">
  <div class="flex flex-col w-full">
    <p class="text-xl">マイページ</p>
    <div class="divider"></div> 
  </div>
  </article>
</div>