<div class="my-3" id=<%= "embed_form_#{number}" %> style="display: none">
  <%= f.radio_button :embed_media, 'youtube', class: 'radio', name: "embed_media_#{number}", checked: embed&.embeddable_media == 'youtube' ? true : false %>
  <label class="mr-3">
    <i class="fa-brands fa-youtube text-red-500"></i><span class="text-sm">YouTube動画</span>
  </label>
  <%= f.radio_button :embed_media, 'twitter', class: 'radio', name: "embed_media_#{number}", checked: embed&.embeddable_media == 'twitter' ? true : false %>
  <label>
    <i class="fa-brands fa-twitter text-sky-500"></i><span class="text-sm">Twitter投稿</span>
  </label>
  <%= f.text_field :embed_url, placeholder: '埋め込みたい投稿のURLを記載してください', class: "input input-bordered w-full", name: "embed_url_#{number}", value: embed&.identifier %>
</div>